@using EngSoftwareForum.Utility
@model int


    
        @if (User.IsInRole(SD.ManagerUser) || User.IsInRole(SD.CustomerEndUser))
        {
            
                <a asp-action="Answer" asp-route-id="@Model" class="btn btn-info form-control"><i class="fas fa-plus"></i> &nbsp; Reply this question </a>
            
        }

            <br ><br />
            
