@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);

    string user_pic1 = claim.Value + ".png"; //pega a imagem do usuario


    string path1 = "wwwroot\\Images\\" + user_pic1;

    string wanted_path1 = System.AppDomain.CurrentDomain.BaseDirectory;
    var array1 = wanted_path1.Split(new string[] { "bin" }, // lista de separadores complexos
    StringSplitOptions.RemoveEmptyEntries);

    wanted_path1 = array1[0] + path1;

}

<h1>Update your profile picture</h1><br />

This picture will be displayed on all the questions and answers made by you.<br /><br />

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Upload_Image</title>

</head>

<body>

    <b>Current picture:</b> <br /><br />

    @if (System.IO.File.Exists(wanted_path1))
    {
        <img src="~/Images/@user_pic1" width="100" height="100" /><br />
    }
    else
    {
        <img src="~/Images/User_icon_BLACK-01.png" width="100" height="100" /><br />
    }

    <br />

    <b>Upload a new one:</b><br />

    <form asp-controller="Image" asp-action="Upload_Image" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" />

        <button type="submit">Upload Image</button>
    </form>
    <br />

    @*<label>Uploaded File= @ViewData["FilePath"]</label>*@

</body>

</html>