@model EngSoftwareForum.Models.CommonViewModel

@{
    ViewData["Title"] = "Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Reply question</h2>
<br />

<form method="post" asp-action="Answer">
    <div class="border backgroudWhite">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="formularioHide">
            <div class="col-2">
                <label asp-for="Questions.Id" class="col-form-label"></label>

            </div>
            <div class="formularioHide">
                <input asp-for="Questions.Id" readonly class="form-control" />
            </div>

        </div>



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <b>Author:</b>

                <input asp-for="RepliesLOL.UserID" readonly class="form-control" />

            </div>
            <span asp-validation-for="RepliesLOL.UserID" class="text-danger"></span>
        </div>




        <div class="formularioHide">
            <div class="col-2">
                <label asp-for="RepliesLOL.UserKey" class="col-form-label"></label>

            </div>
            <div class="formularioHide">
                <input asp-for="RepliesLOL.UserKey" readonly class="form-control" />
            </div>

        </div>




        <div class="form-group row">
            <div class="col-3">
                <b>Write down your answer:</b>
            </div>
        </div>

        <label class="formulario">
            <textarea id="msg" rows="20" cols="100" maxlength="30000" onkeyup="validaQuantidade(this, 30000, 'resul')" asp-for="RepliesLOL.ReplyString"></textarea>
            <span asp-validation-for="RepliesLOL.ReplyString" class="text-danger"></span>
        </label>
        <br />
        <div class="form-group row">
            <div class="col-10">
                <i><b>Characters remaining:</b></i>
                <i><b id='resul'>30000</b></i>
                <br /><br />
            </div>
        </div>


        <script type="text/javascript">

            function validaQuantidade(campo, total, contador) {
                if (campo.value.length > total) {
                    campo.value = campo.value.substr(0, total);
                }
                document.getElementById(contador).innerHTML = parseInt(total) - parseInt(campo.value.length);
            }

        </script>




        <div class="form-group row">
            <div class="col-6 offset-4">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="Post reply" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success form-control">Back to questions list</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</form>
