@model CommonViewModel
@{ 
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create Question</h2>
<br />

<form method="post" asp-action="Create">
    <div class="border backgroudWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <b>Title:</b>

            </div>
            <div class="formulario">
                <input asp-for="Questions.Title" maxlength="150" class="form-control" />
            </div>
            <span asp-validation-for="Questions.Title" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <b>Author:</b>

            </div>
            <div class="formulario">
                <input asp-for="Questions.UserID" readonly class="form-control" />
            </div>
            <span asp-validation-for="Questions.UserID" class="text-danger"></span>
        </div>


        <div class="formularioHide">
            <div class="col-2">
            </div>
            <div class="formularioHide">
                <input asp-for="Questions.UserKey" readonly class="form-control" />
            </div>
            <span asp-validation-for="Questions.UserKey" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <b>Question:</b>
            </div>
        </div>

        <label class="formulario">
            <textarea id="msg" rows="20" cols="100" maxlength="30000" onkeyup="validaQuantidade(this, 30000, 'resul')" asp-for="Questions.Question"></textarea>
            <span asp-validation-for="Questions.Question" class="text-danger"></span>
        </label>
        <br />
        <div class="form-group row">
            <div class="col-10">
                <i><b>Characters remaining:</b></i>
                <i><b id='resul'>30000</b></i>
                <br /><br />
            </div>
        </div>


        <script type="text/javascript">

            function validaQuantidade(campo, total, contador) {
                if (campo.value.length > total) {
                    campo.value = campo.value.substr(0, total);
                }
                document.getElementById(contador).innerHTML = parseInt(total) - parseInt(campo.value.length);
            }

        </script>

        <div class="form-group row">
            <div class="col-2">
                <b>Tags:</b>

            </div>
            <div class="formulario">
                <input asp-for="Questions.Tags" maxlength="150" class="form-control" />
            </div>
            <span asp-validation-for="Questions.Tags" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-6 offset-4">
                <partial name="_CreateAndBacktoListButton">
            </div>

        </div>


    </div>
</form>