@model EngSoftwareForum.Models.Questions

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Delete Question</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="border backgroudWhite">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label"></label>

            </div>
            <div class="formulario">
                <input asp-for="Title" rows="10" readonly class="form-control" />
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Question" class="col-form-label"></label>

            </div>
            <div class="formulario">
                <textarea id="msg" rows="20" cols="100" maxlength="3000" readonly asp-for="Question"></textarea>
            </div>
            <span asp-validation-for="Question" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-6 offset-4">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>

        </div>


    </div>
</form>
