@model EngSoftwareForum.Models.Questions

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2 class="text-info">Edit Question</h2>
<br />

<form method="post" asp-action="Edit">
    <div class="border backgroudWhite">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <b>Question title:</b>

                <input asp-for="Title" maxlength="150" class="form-control" />

            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>



        <div class="form-group row">
            <div class="col-2">
                <b>Question:</b>
            </div>
        </div>

        <label class="formulario">
            <textarea id="msg" rows="20" cols="100" maxlength="30000" onkeyup="validaQuantidade(this, 30000, 'resul')" asp-for="Question"></textarea>
            <span asp-validation-for="Question" class="text-danger"></span>
        </label>
        <br />
        <div class="form-group row" >
            <div class="col-10">
                <i><b>Characters remaining:</b></i>
                <i><b id='resul'></b></i>
                <br /><br />
            </div>
        </div>


        <script type="text/javascript">

            function validaQuantidade(campo, total, contador) {
                if (campo.value.length > total) {
                    campo.value = campo.value.substr(0, total);
                }
                document.getElementById(contador).innerHTML = parseInt(total) - parseInt(campo.value.length);
            }

        </script>


        <div class="form-group row">
            <div class="col-6 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.Id" />
            </div>

        </div>


        <div class="formularioHide">
            <div class="col-2">
            </div>
            <div class="formularioHide">
                <input asp-for="UserID" readonly class="form-control" />
            </div>
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>


        <div class="formularioHide">
            <div class="col-2">
            </div>
            <div class="formularioHide">
                <input asp-for="UserKey" readonly class="form-control" />
            </div>
            <span asp-validation-for="UserKey" class="text-danger"></span>
        </div>


    </div>
</form>

