@using EngSoftwareForum.Utility
@using System.Security.Claims
@using EngSoftwareForum.Models
@using EngSoftwareForum.Data;

@model CommonViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";





}

<br /><br />
<div class="border backgroudWhite">
    <div class="row">
        @if (User.IsInRole(SD.ManagerUser)||User.IsInRole(SD.CustomerEndUser))
        {
            <div class="col-6">
                <h2 class="text-info"> Question List</h2>
            </div>
            <div class="col-6 text-right">
                <partial name="_CreateButtonPartial" />
            </div>
        }
    </div>
    <br />
    <div>
        @if (Model.CountQuestions.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Questions.Title)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.CountQuestions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>

                    <td style="width:700px"></td>
                    
                   <td >
                        @{
                            if ((item.UserID == Model.ApplicationUser.Name) || User.IsInRole(SD.ManagerUser))
                            {
                                <partial name="_TableButtonsPartial" model="item.Id" />
                            }
                            else
                            {
                                <div class="btn-group" role="group">
                                   
                                    <a class="btn btn-success text-white" asp-action="Details" asp-route-Id="@item.Id">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            }
                         }
                    </td>
                </tr>
                }
            </table>
        }
        else
        {
            <p>No questions available.</p>
        }
    </div>
</div>
